%h1 New Post
= form_tag('/set_post') do
  .field
    %b= label_tag :title
    = text_field_tag :title
  .field
    %b= label_tag :content
    = text_field_tag :content
  .field
    %b= label_tag :user_login, "User login"
    = text_field_tag :user_login
  .actions
    = submit_tag

= link_to 'Back', posts_path
